<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://emanprod.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c581565e-ab49-4015-a3c8-cfb32382b424/resourceGroups/MainProject/providers/Microsoft.Web/sites/EManPROD</ResourceId>
    <UserName>$EManPROD</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://emanprod.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>